@charset "utf-8";

@import 'components/all';

html {
    height: 100%;
}
body {
    background-color: #b3c2bf;
    color: #3b3a36;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 80%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}
