@import 'colors';

footer {
    background-color: $seafoam;
    border-top: 2px solid $darkGray;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 2em;
    margin-top: -3em;
    padding-top: 0.8em;
    position: absolute;
    text-align: center;
    top: 100%;
    width: 100%
}