footer {
    background-color: #c0dfd9;
    border-top: 2px solid #3b3a36;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 28px;
    margin-top: -40px;
    padding-top: 10px;
    position: absolute;
    text-align: center;
    top: 100%;
    width: 100%
}