nav {
    background-color: #c0dfd9;
    border: 1px solid #3b3a36;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.nav {
    padding: 10px;
    margin: 0;
}
.nav a {
    &:link, &:active {
        text-decoration: none;
    }
}
.nav-item {
    color: #3b3a36;
    background-color: #e9ece5;
    border: 2px solid #3b3a36;
    border-radius: 8px;
    display: inline-block;
    font-weight: bold;
    list-style-type: none;
    margin: 5px 10px;
    padding: 8px 15px;
    text-indent: 0px;
}
.settings {
    float: right;
    padding: 10px 15px;
    font-size: 2em;
}