$darkGray: #3b3a36;
$olive: #b3c2bf;
$seafoam: #c0dfd9;
$lightGrey: #e9ece5;

nav {
    background-color: $seafoam;
    border: 2px solid $darkGray;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-width: 1px;
    font-size: 0.7em;
}
.nav {
    padding: 5px 5px;
    
    margin: 0;
    a {
        &:link, &:active {
            text-decoration: none;
        }
    }
}
.nav-item {
    color: $darkGray;
    background-color: $lightGrey;
    border: 2px solid $darkGray;
    border-radius: 8px;
    display: inline-block;
    font-weight: bold;
    list-style-type: none;
    margin: 5px 5px;
    padding: 5px 8px;
    text-indent: 0px;

    &:hover {
        color: $lightGrey;
        text-shadow: 1px  1px 1px $darkGray,
                     1px -1px 1px $darkGray,
                    -1px  1px 1px $darkGray,
                    -1px -1px 1px $darkGray;
    }
    &:active {
        background: linear-gradient($olive, $lightGrey);
    }
}
.settings {
    float: right;
    padding: 10px 10px 10px 0px;
    font-size: 2em;
}
.selected {
    background-color: $olive;
    background: linear-gradient($lightGrey, $olive);
    color: $darkGray;
    text-shadow: 1px  1px 1px $lightGrey,
                 1px -1px 1px $lightGrey,
                -1px  1px 1px $lightGrey,
                -1px -1px 1px $lightGrey;
    
    &:focus {
        color: $lightGrey;
        text-shadow: 1px  1px 1px $darkGray,
                     1px -1px 1px $darkGray,
                    -1px  1px 1px $darkGray,
                    -1px -1px 1px $darkGray;
    }
}

@media only screen and (min-width: 600px) {
    nav {
        font-size: 1em;
    }
    .nav {
        padding: 10px 10px 10px 6%;
    }
    .nav-item {
        margin: 5px 10px;
        padding: 8px 15px;
    }
}
