nav {
    background-color: #c0dfd9;
    border: 2px solid #3b3a36;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-width: 1px;
    font-size: 0.7em;
}
.nav {
    padding: 5px 0;
    margin: 0;
    a {
        &:link, &:active {
            text-decoration: none;
        }
    }
}
.nav-item {
    color: #3b3a36;
    background-color: #e9ece5;
    border: 2px solid #3b3a36;
    border-radius: 8px;
    display: inline-block;
    font-weight: bold;
    list-style-type: none;
    margin: 5px 10px;
    padding: 8px 15px;
    text-indent: 0px;
    &:hover {
        color: #e9ece5;
        text-shadow: 1px  1px 1px #3b3a36,
                     1px -1px 1px #3b3a36,
                    -1px  1px 1px #3b3a36,
                    -1px -1px 1px #3b3a36;
    }
    &:active {
        background: linear-gradient(#b3c2bf, #e9ece5);
    }
}
.settings {
    float: right;
    padding: 10px 15px;
    font-size: 2em;
}
.selected {
    background-color: #b3c2bf;
    background: linear-gradient(#e9ece5, #b3c2bf);
    color: #3b3a36;
    text-shadow: 1px  1px 1px #e9ece5,
                 1px -1px 1px #e9ece5,
                -1px  1px 1px #e9ece5,
                -1px -1px 1px #e9ece5;
    &:focus {
        color: #e9ece5;
        text-shadow: 1px  1px 1px #3b3a36,
                     1px -1px 1px #3b3a36,
                    -1px  1px 1px #3b3a36,
                    -1px -1px 1px #3b3a36;
    }
}

@media only screen and (min-width: 600px) {
    nav {
        font-size: 1em;
    }
    .nav {
        padding: 10px 10px 10px 6%;
    }
}